#player-info {
  background-color: #191919;
  padding: 1%;
  border-radius: 5px;
}

.player-image {
  font-size: 150px;
}


.player-banner,
.player-second-row {
  margin: 3%;
  padding: 2%;
}

.player-banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 85%;
}

.player-second-row,
.banner-background {
  border-radius: 5px;
  background-color: #191919;
}

.player-second-row .my-4 {
  background-color: #eee;
}

iframe {
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

.banner-background {
  /* background-image: url("https://previews.123rf.com/images/welcomia/welcomia1709/welcomia170900094/86609384-magic-roulette-game-banner-concept-3d-rendered-illustration-roulette-wheel-and-casino-chips-.jpg"); */
  background-position: center;
  background-size: cover;
  height: 40vh;
  margin: 3%;
  opacity: 0.5;
  filter: blur(3px);
}

.player-image{
  width: 70%;
}

@media screen and (min-width: 1400px) {
  .player-banner {
    width: 75%;
  }
}


@media only screen and (max-width:770px){
  .player-image{
    width: 30%;
  }
  .player-second-row{
    margin-top: 10%;
  }
}