.nav-text {
  color: #eee;
  letter-spacing: 0.1em;
  font-weight: 300;
}
.navbar-dark .navbar-nav .nav-link {
  color: #eee;
}

.spacing{
  padding-left: 2%;
}

nav i {
  font-size: 1.5em;
}

nav a, nav a:hover {
  color: #eee;
}