#teamPage{
  margin-top: 2%;
}

#teamPage img{
  width: 100%;
}

#teamPage .card {
  margin: 5% 0px;
background-color: #53a09c;

}

.team-banner{
  background-position: center;
  background-size: cover;
  height: 40vh;
  margin: 3%;
  opacity: .4;
  filter: blur(5px);
}

.team-banner-foreground h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.5em;
  letter-spacing: 0.1em;

}

.team-banner-foreground{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 75%;
}


.team-section {
  margin:3%;
  background-color: #191919;
  padding: 1%;
  border-radius: 5px;
}

.my-4{
  border-color: #eee;
}

#teamPage img.member-image{
  width: 100%;
}

.schedule span{
  display: block;
}

.schedule .edit {
  color: #53a09c;
  font-size: .9em;
  transition: all ease 500ms;
}

.edit:hover{
  color: teal;
}

@media only screen and (max-width: 500px){
  .team-section{
    margin: 5%;
  }
  .team-section h3 {
    margin-top: 5%;
  }
 
  #teamPage img {
    width: 30%;
  }
  .team-banner{
    height: 50vh;
    margin-bottom: 15%;
  }
  #teamPage .card {
    margin: 5%;
  }
}